@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: 'Merriweather', serif;
  }

  .wrapper {
    background-image: url("./img/fractable.jpg");
    background-color: #cfd4d7;
    width:100%;
    background-repeat:no-repeat;
    background-size: auto 100%;
  }

  /* Header */
  header {
    padding-left:3vw;
    padding-right:3vw;
    padding-top:0.5vw;
    color:white;
    height:3vw;
  }
  
  header h3 {
    font-family: "Avenir Next";  
    text-transform: uppercase;
    font-weight:500;
  }

  header ul {
    list-style: none;
    padding:0;
  }

  .main-nav a {
    text-transform: uppercase;
    text-decoration: none;
	text-align: center;
    display: block;
    font-family: "Avenir Next";
    font-weight:bold;
    color:white;
    font-weight:500;
    margin: 0 20px;
}

.active {
    padding-bottom:5px;
    color:#4C5052 !important;
    border-bottom: 3px solid #4C5052;  
}

.main-nav a:hover {
    padding-bottom:5px;
    color:#4C5052;
    border-bottom: 3px solid #4C5052;
}

@media (min-width: 1025px) {
    header,
	.main-nav {
		display: flex;
	}
	header {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (max-width: 768px) {
    #div-mobile { display: block; }
    .main-nav { display: none; }
}
  /* End Header */

  /* Hero */
  #hero {
    display: flex;
    flex: 1;
    margin:2rem;
    font-family: "Avenir Next"; 
    color:#4C5052;
  }

.heroContent h1 {
    font-weight:500;
    font-size:5vw;
    margin:0;
}

.heroContent h2 {
    font-weight:400;
    font-size:2.6vw;
    margin:0;
}

.heroContent p {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    margin: 5px;
}
  .heroContent {
    flex: 1;
    padding:5vw;
}

.buttonMain {
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 10px;
    border: 2px solid #4c5052;
    font-family: "Avenir Next"; 
    font-weight:600;
}


  #hero > article {
    flex: 1;
 }
  /* End Hero */

  /* Intro Text */
  #introduction {
    padding-left:1vw;
    padding-left:1vw;
    margin-bottom:3vw;
  }

  #introduction > .title {
    flex-direction: row;
    padding-left:2rem;
    margin-top:2rem;
  }

  #main {
    display: flex;
    flex: 1;
  }

  #main > article {
    flex: 1;
    margin-left:2rem;
    margin-right:2rem;
  }

  .title h3 {
      width:100%;
      margin:0;
  }

  article p {
      font-size:12px;
      line-height:15px;
      word-break: break-all;
      font-family: 'Merriweather', serif;
  }

  .quote {
    float: right;
    width: 15rem;
    word-wrap: break-word !important;
    margin: 2vw;
    font-family: 'Merriweather', serif;
    font-style: italic;
    color:#65909E;
    font-size:3rem;
  }

  .quoteContent p {
    font-size:12px;  
    word-break: break-word;
    text-align:left;
    padding-left:2.5rem;
  }

  .bigQuote {
      float:left;
      padding-right:0.75rem;
      color:#d7e1e5;
  }
  .bigQuote q:after {
	content: "";
}

.quoteContent q:after {
	content: "";
}

.quoteContent q:before {
	content: "";
}

  .quoteContent {
      font-size:1rem;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
  }
 /* End Intro Text */

 /* Widget Area */
#widgets {
    display: flex;
    flex: 1;
    background:#567184;

}

#widgets > div {
    flex: 1;
    text-align:center;
    font-family: "Avenir Next";  
    text-transform: uppercase;
    font-weight:300;
    font-size:12px;
    color:white;
    margin:3vw;
}

    #widgets > div > .border {
    height:30vh;
    border:20px solid #687F8F;
    margin: 1rem;
    box-shadow: 1px 10px 40px 0px rgb(55, 74, 86)
    }

.widget_frames {
    background-image: url(./img/fractable.jpg);
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 5% 55%;
}

.widget_notches {
    background-image: url(./img/fractable.jpg);
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 15% 30%;
}

.widget_corners {
    background-image: url(./img/fractable.jpg);
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: 40% 40%;
}

 /* End Widget Area */

/* Begin Footer */
  footer {
    background: #384A56;
    padding:5vh;
    text-align:center;
  }

  footer div {
      margin: auto;
      width: 50%;
      text-align:center;
      color:#D9DCDF;
  }

  footer div p {
    font-family: 'Merriweather', serif;
      padding:1rem;
      font-size:13px;
      font-weight:300;
  }

  footer div input {
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    background:#D9DCDF;
  }

 footer div a {
    padding: 0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius: 20px;
    font-size: 10px;
    border: 2px solid #D9DCDF;
    font-family: "Avenir Next"; 
    font-weight:500;
    box-sizing: border-box; 
    margin-left:1rem;
    text-transform: uppercase;
}

.copyright {
    margin-top:5vh;
    font-size:11px;
    font-family: "Avenir Next"; 
    color:#687F8F;
}
  /* End Footer */

  @media screen and (max-width: 575px) {
    #main, #widgets, #hero {
      display: block;
    }
  }